.posts-wrapper
  .row.profile-header
    .col-md-6
      .img-circle
        = profile_avatar_select(@user)
    .col-md-6
      .user-name-and-follow
        %h3.profile-user-name
          = @user.user_name
      %span
        - if current_user == @user          
          = link_to 'Edit Profile', edit_profile_path(@user.user_name),  class: 'btn edit-button'
        -else
          - if current_user_is_following(current_user.id, @user.id)
            = link_to "Unfollow", unfollow_user_path, remote: true, method: :post, class: "btn unfollow-button", id: "unfollow-button"
          -else
            = link_to "Follow", follow_user_path, remote: true, method: :post, class: "btn follow-button", id: "follow-button"
          
      %p.profile-bio
        = @user.bio
      .user-statistics
        .row
          .col-md-4
            - if @user.posts.count < 2
              %strong.num-font
                = post_count(@user)
              = "post"
            - else
              %strong.num-font
                = post_count(@user)
              = "posts"
          .col-md-4
            - if @user.following.count < 2
              %strong.num-font
                = following_count(@user)
              = "follow"
            - else
              %strong.num-font
                = following_count(@user)
              = "follows"
          .col-md-4
            %strong.num-font
              = follower_count(@user)
            = "following"  

.follower-id
  %h2.text-center
    Who's following you
  %h4
    = render "following"
  %br
  %hr

.following-id
  %h2.text-center
    Who you are following
  %h4
    = render "follower"
  %br
  %hr
.user-posts
  = render @posts